/*  Fonts  */
@font-face {
  font-family: circularStd-book;
  src: url(../fonts/CircularStd-Book.otf);
}
@font-face {
  font-family: circularStd-bookitalic;
  src: url(../fonts/CircularStd-BookItalic.otf);
}
@font-face {
  font-family: circularStd-bold;
  src: url(../fonts/CircularStd-Bold.otf);
}
@font-face {
  font-family: circularStd-bolditalic;
  src: url(../fonts/CircularStd-BoldItalic.otf);
}
@font-face {
  font-family: circularStd-medium;
  src: url(../fonts/CircularStd-Medium.otf);
}
@font-face {
  font-family: circularStd-mediumitalic;
  src: url(../fonts/CircularStd-MediumItalic.otf);
}
@font-face {
  font-family: dk-memory;
  src: url(../fonts/DK\ Frozen\ Memory.otf);
}

/*  General CSS  */
body {
  font-family: circularStd-book;
  font-size: 16px;
}
img {
  width: 100%;
}
strong, b {
  font-family: circularStd-bold;
  font-weight: normal;
}
.popUp {
	background-color: white;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
  max-width: 390px;
  width: 100%;
  padding: 20px;
  padding-left: 100px;
	text-align:center;
	z-index:900;
	-moz-box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	-webkit-box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	visibility: hidden;
	font-size: 1.2rem;
  font-family: circularStd-bold;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}
.popUp:before {
  content: '';
  height: 200px;
  width: 200px;
  background: url(../images/popup.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  top: 0;
}
.popUp .upperRow {
  padding-bottom: 1rem;
}
.popUp > div {

  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .popUp {
    font-size: 14px;
    padding-left: 20px;
    height: auto;
  }
  .popUp:before {
    height: 150px;
    position: initial;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: auto;
    transform: translateX(0);
    margin-bottom: 0.5rem;
  }
}
.blackout {
	position: fixed;
	top: 0;
	left: 0;
	background-color: grey;
	opacity: 0.5;
    min-width: 1px;
    width: 100%;
    height: 100%;
	visibility: hidden;
}

/*  Reuseable CSS  */
.btn-yellow {
  color: black;
  border-radius: 50px;
  background: #FFCD00;
  padding: 6px 45px;
}
.btn-blue {
  color: white !important;
  border-radius: 50px;
  background: #1B55A9;
  padding: 6px 45px;
}
.form-control {
  font-size: 12px;
}
.btn {
  font-size: 12px;
}
.btn-yellow {
  background-color: #FFCD00;
}
.btn-save {
  padding: 0.375rem 1rem;
  border-radius: 50px;
  background: #2EB5C0;
  color: #fff;
  font-size: 14px;
}
.btn-save-pop {
  background: #D10000;
  color: white;
  padding: 0.375rem 1rem;
  border-radius: 50px;
}

/*  Landing Page CSS  */
.bt-yellow {
	color: black;
	border-radius: 10px;
	background: #FFCD00;
	padding: 6px 45px;
	cursor: pointer;
	font-size: larger;
	font-weight: bold;
  }
  
.bt-kelas4 {
	color: white;
	border-radius: 10px;
	background: #00c5ff;
	padding: 6px 45px;
	cursor: pointer;
	font-size: larger;
	font-weight: bold;
  }
  
.bt-kelas8 {
	color: white;
	border-radius: 10px;
	background: #ffce00;
	padding: 6px 45px;
	cursor: pointer;
	font-size: larger;
	font-weight: bold;
  }
  
.bt-kelas10 {
	color: white;
	border-radius: 10px;
	background: #130e7d;
	padding: 6px 45px;
	cursor: pointer;
	font-size: larger;
	font-weight: bold;
  }

.bt-grey {
    color: black;
    border-radius: 10px;
    background: grey;
    padding: 6px 45px;
    cursor: not-allowed;
    font-size: larger;
    font-weight: bold;
    }

    .bt-grey-active {
      color: black;
      border-radius: 10px;
      background-image:linear-gradient(rgb(53, 159, 182), rgb(54, 173, 181));
      padding: 6px 45px;
      cursor: pointer;
      font-size: larger;
      font-weight: bold;
      }

.bg-yellow {
    border-radius: 5px;
    background: #FFCD00;
      }

.bg-blue {
  border-radius: 5px;
  background-image: linear-gradient(rgb(77, 156, 223), rgb(152, 199, 241)) ;
    }

.bt-blue-pirls {
  color: black;
  border-radius: 10px;
  background: rgb(77, 156, 223);
  padding: 6px 45px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  align-items: center;
  vertical-align: middle;
  }

.bt-red-pirls {
  color: black;
  border-radius: 10px;
  background: rgb(255, 144, 0);
  padding: 6px 45px;
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  align-items: center;
  vertical-align: middle;
  }
      
.desc-link {
	color: black;
	border-radius: 10px;
	font-size: medium;
  }
  
.site-footer {
  background: #016cec;
  min-height: 100px;
  font-size: 1.2em;
  align-items: center;
}

#footer-content {
  color: white;
  text-align:center;
  padding-top: 40px;
  padding-bottom: 30px;
}