@charset "utf-8";
/* CSS Document */
@import url('font-awesome.css');

@import url('font-awesome.min.css');

	
	body,
	html {
			margin:0;
			padding:0;
			color:#000;
			font-family: Open Sans Semibold, sans-serif;
			font-size:14px;
			-webkit-font-smoothing: antialiased;
		}
		
	p{
			word-wrap: break-word;
			margin: 0 0 10px 0;
			font-family: Open Sans Semibold, sans-serif;
			line-height: 1.5em;
		}
	a{text-decoration:none;}	
		
	#mainContainer{
		
		width:100%
		
	}

#framebody {
	background-color: white;
}


	.container {
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		max-width: 760px;
		text-align:center;
	}
	
	.loginContainer{
		margin-right: auto;
		margin-left: auto;
		width: 96%;
		max-width: 600px;
		text-align:center;
		padding: 8px;
	}
	
	.loginContainer h1{
		font-size:18px;
		font-family:Open Sans Bold;
		
	}
	
	.effectBg{
		background-image:url(../images/bg-top.png);
		background-repeat:no-repeat;
		background-position:top center;
		}
	
	.loginMainLogo{
		margin-right: auto;
		margin-left: auto;
		width:100%;
		margin-top:20px;
		
	}
	
	.loginLogos{
		margin-right: auto;
		margin-left: auto;
		width:100%;
		margin-top:20px;
		
	}
	
	.loginFields{
		margin-right: auto;
		margin-left: auto;
		width: 340px;
		margin-top: 20px;
		text-align: center;
		background-color: #862313;
		padding: 20px 0 !important;
		border-radius: 12px;
		position:relative;
		
	}
	
	.loginFields:after{
		content:"";
		background-image:url(../images/shadow1.png);
		background-repeat:no-repeat;
		background-position:center;
		bottom:-25px;
		left:0;
		position:absolute;
		height:30px;
		width:100%;
	}
	
	.userPass{
		color:white;
		font-size:15px;
		}
		
	.userPass .textbox{ 
		height:20px; 
		width: 203px;
		margin: 5px 0;
		font-size:15px;
		font-weight:bold;
		border: 1px solid #B9BDC1; 
		color: #797979; 
		-moz-box-shadow: 0 2px 4px #bbb inset; 
		-webkit-box-shadow: 0 2px 4px #BBB inset; 
		box-shadow: 0 2px 4px #BBB inset; 
		-moz-border-radius: 3px; 
		-webkit-border-radius: 3px; 
		border-radius: 3px; 
} 

	.introTextSc2{
		border:2px solid #900;
		-moz-border-radius: 6px; 
		-webkit-border-radius: 6px; 
		border-radius: 6px;
		margin-right: auto;
		margin-left: auto;
		width: 380px;
		margin-top: 20px;
		padding: 20px 10px 20px 80px;
		background-image:url(../images/pencils.png);
		background-repeat:no-repeat;
		background-position:left center;
		text-align:left;
		
	}
	
	
	.introTextSc3{
		border:2px solid #900;
		-moz-border-radius: 6px; 
		-webkit-border-radius: 6px; 
		border-radius: 6px;
		margin-right: auto;
		margin-left: auto;
		max-width: 310px;
		width: 50%;
		margin-top: 20px;
		padding: 40px 10px 0px 170px;
		text-align:left;
		
	}
	
		
	.introTextSc4{
		border:2px solid #900;
		-moz-border-radius: 6px; 
		-webkit-border-radius: 6px; 
		border-radius: 6px;
		margin-right: auto;
		margin-left: auto;
		width: 360px;
		margin-top: 20px;
		padding: 20px 10px 20px 120px;
		text-align:left;
		position:relative;
		
	}
	
	.bearsTut{
		background-image:url(../images/bears.png);
		background-repeat:no-repeat;
		background-position:5px bottom;
		}
		
	.monkeyRain{
		background-image:url(../images/spider-monkey-intro.png);
		background-repeat:no-repeat;
		background-position:5px bottom;
		}
		
	.frogRain{
		background-image:url(../images/frog-intro.png);
		background-repeat:no-repeat;
		background-position:5px bottom;
		}
		
			
	.computer{
		background-image:url(../images/computer.png);
		background-repeat:no-repeat;
		background-position:5px;
		}
		
	.nameScreen2{
		font-size: 20px;
		line-height: 30px;}
		
	.planetMars{
		background-image:url(../images/mars-intro.png);
		background-repeat:no-repeat;
		background-position:25px;
	    padding: 27px 10px 20px 30%;
        background-size: 25%;	
	}

	.blackwell{
	background-image:url(../images/blackwell-photo.png);
	background-repeat:no-repeat;
	background-position: 10px;
background-size: 145px;
    padding: 22px 10px 20px 170px;
	}

	.directions{
	    background-image: url(../images/male-teacher.jpg);
	    background-repeat: no-repeat;
	    background-size: 100px;
	    width: 100px;
	    min-height: 109px;
	    position: relative;
	    /* left: 0px; */
	    margin: -110px 0px 0px -138px;
	    border-radius: 100px;
	    border: 4px #028dc7 solid;
	}
	.name-direction{
		position: relative;
		margin-left: -128px;
    	margin-top: 9px;
    	    margin-bottom: 15px;
	}

	.timmsBc
	{
	    background-image: url(../images/id_bc.png);
	    background-repeat: no-repeat;
	    background-position: 30px center;
	}
		
	.actionsContainer{
		margin-right: auto;
		margin-left: auto;
		width: 90%;
		max-width: 600px;
		text-align:center;
		padding: 8px 0;
	}
	
	.actions{
		margin-right: auto;
		margin-left: auto;
		width: 350px;
		text-align:left;
	}
	.actions img{
		overflow:hidden;
		width: 80px;
		height: 80px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		border: 5px solid #0089af;
		margin-left:20px;
		}
		.actions img.selected{
		overflow:hidden;
		width: 80px;
		height: 80px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		border: 5px solid rgb(252, 121, 13);
		margin-left:20px;
		}
		
	.bigOrangeNo{
		font-size: 45px;
		font-family: PaytoneOne;
		color: rgb(252, 121, 13);
		line-height: 30px;
		float: left;
		margin-right: 10px;
	}
		
	/*.actions a {
		border: 4px solid #0089af;
		display: block;
		overflow:hidden;
		width: 80px;
		height: 80px;
		border-radius: 44px;
		text-align: center;
		line-height: 79px;
	}
	
	.actions a:active {
	
		background-color: rgb(83,87,93);
		top: 0px;
	}
	.actions a.on {
		border: 4px solid #f29e0d;
		top: 0px;
	}
	.actions a.off {
		border: 4px solid #0089af;
		top: 0px;
	}
*/

	
	#rightPanel{
	}
	
	

	.myClassroom {
		padding:5px 10px;
		font-size:34px;
		font-family:Tienne Bold;
		color:#ffffff;
		width: 280px;
		height:58px;
		background: #912116;
		background: -webkit-linear-gradient(90deg, #912116 21%, #EF4135 100%);
		background: -moz-linear-gradient(90deg, #912116 21%, #EF4135 100%);
		background: -ms-linear-gradient(90deg, #912116 21%, #EF4135 100%);
		background: -o-linear-gradient(90deg, #912116 21%, #EF4135 100%);
	}
	
	.center{
		text-align:left;
		display: table;
    	margin: 0 auto;
		}



	
	.loginButton {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c20000), color-stop(1, #590000) );
		background:-moz-linear-gradient( center top, #c20000 5%, #590000 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c20000', endColorstr='#590000');
		background-color:#c20000;
		margin-top:15px;
		border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		text-indent:0;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#ffffff;
		font-family:arial;
		font-size:15px;
		font-weight:bold;
		font-style:normal;
		height:30px;
		line-height:30px;
		width:200px;
		text-decoration:none;
		text-align:center;
	}
	.loginButton:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #590000), color-stop(1, #c20000) );
		background:-moz-linear-gradient( center top, #590000 5%, #c20000 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#590000', endColorstr='#c20000');
		background-color:#590000;
	}
	
	.loginButton:active {
		position:relative;
		top:1px;
	}

	.loginButton.disable {
		background:-webkit-linear-gradient(90deg, #787878 5%, #C9C9C9 100%);
		background:-moz-linear-gradient(90deg, #787878 5%, #C9C9C9 100%);
		background:-ms-linear-gradient(90deg, #787878 5%, #C9C9C9 100%);
		background:linear-gradient(180deg, #C9C9C9 5%, #787878 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9C9C9', endColorstr='#787878');
		/*background-color:#787878;*/
		color:#ffffff;
	}
	
	.loginButton.disable:hover {
		background:-webkit-linear-gradient(90deg, #cccccc 5%, #999999 100%);
		background:-moz-linear-gradient(90deg, #cccccc 5%, #999999 100%);
		background:-ms-linear-gradient(90deg, #cccccc 5%, #999999 100%);
		background:linear-gradient(180deg, #cccccc 5%, #999999 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C9C9C9', endColorstr='#787878');
		/*background-color:#787878;*/
		color:#ffffff;
	}




/*****************COLORS************************/

	.black{background-color:#000000;}
	
	.blue{background:#daf8ff;}
	
	.skyblue{background:#49B5D4;}
	
	.blueplanet{background:#48B1E6;}
	
	.orange{background-color:#ffebcd;}
	
	.lightgreen{background-color:#D1F7AC;}
	.tutorialblue{background-color:#7DC6EC; background-image:url(../Directions/images/footer-image.png);
	background-repeat:no-repeat;
	background-position:bottom center;}
	
	.tutorialsnow{background-image:url(../Directions/images/snow.png);
	background-repeat:no-repeat;
	background-position:top center;}
	
	.appred{background-color:#9c3d2d!important;}
	
/*****************************************************/

	.questionContainerActive{
		-moz-box-shadow: 0 0 0 6px #dd3333 inset;
		-webkit-box-shadow: 0 0 0 6px #dd3333 inset;
		box-shadow: 0 0 0 6px #dd3333 inset;
		padding:10px 10px !important;
		background-color: #DAF8FF;
		float: left;
		/*width: 260px !important;*/
	}

	.questionContainer{
		padding: 10px !important;
		background-color: #DAF8FF;
		float:left;
		/*width: 260px;*/
		border-bottom: 1px solid grey;
	}
	
	.question{
		color:black;
		font-style:italic;
		padding:0 10px;
		font-weight:bold;
		font-family:Open Sans, sans-serif;
		/*width: 240px;*/
		display: inline-block;
	}

	.qnumber{
		font-size:24px;
		color:#900;
		font-family:Open Sans Bold, sans-serif;
		font-style: normal;
		font-weight:bold;
	}

	.qitems{
		border-bottom: 2px dotted #0facce;
		margin: 2px 20px 0px 10px;
		width: 95%;
		font-size: 1em;
		line-height: 1.5em;
		float: left;
		padding-bottom: 2px;
	}

	.abc{ font-size:20px; font-family: Open Sans Bold; color:#dd3333;}
		
	.qitems:last-child{
		/*border-bottom: 0px dotted #0facce;*/
		}

	.student{
		padding:5px 10px;
		float:left;
		font-family: Open Sans Bold;
		width: 90%;
	}

	.teacher{
		padding:10px;
		float:left;
		font-family: Open Sans Bold;
		/*width:100%;*/
		border-bottom: 1px solid grey;
	}

	.icon{
		margin: 0 10px 0 0;
		float:left;
	}

	.name{font-size:16px; font-weight:bold; color:#900; width: 100%; display: block;}
	
	.dropdown p {
		display: inline-block;
		font-weight: bold;
	}
	
	.dropdown select {
		width: 100%;
		color: #000;
		margin: 5px;
		font-weight: normal;
		font-size: 1em;
		line-height: 1.2em;
		margin: 0 0 10px;
		padding: 3px 0;
		border: 0 none;
		border-bottom: 2px solid;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border-radius: 7px;
		cursor: pointer;
		text-indent: 0.01px;
		text-overflow: "";
		background: url('../images/arrow.png') no-repeat 100% 4px #fff;
		background: url('../images/arrow.png') no-repeat 100% 0px #fff;
		background: url('../images/arrow.png') no-repeat 100% 0px, -webkit-linear-gradient(top, #fff, #E6E6E6);
		background: url('../images/arrow.png') no-repeat 100% 0px, -moz-linear-gradient(top, #fff, #E6E6E6);
		background: url('../images/arrow.png') no-repeat 100% 0px, -ms-linear-gradient(top, #fff, #E6E6E6);
		background: url('../images/arrow.png') no-repeat 100% 0px, -o-linear-gradient(top, #fff, #E6E6E6);
		background: url('../images/arrow.png') no-repeat 100% 0px, linear-gradient(top, #fff, #E6E6E6);
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
	}

	
	.dropdown select:hover {
	
		background: url('../images/arrow.png') no-repeat 100% 4px #fff; /* add your own arrow image */
		*background-image:none; /* turn bg image for IE7 */
		background: url('../images/arrow.png') no-repeat 100% 0px #fff; /* fallback bg image*/
		background: url('../images/arrow.png') no-repeat 100% 0px, -webkit-linear-gradient(top, #fff, #dddddd);
		background: url('../images/arrow.png') no-repeat 100% 0px, -moz-linear-gradient(top, #fff, #dddddd);
		background: url('../images/arrow.png') no-repeat 100% 0px, -ms-linear-gradient(top, #fff, #dddddd);
		background: url('../images/arrow.png') no-repeat 100% 0px, -o-linear-gradient(top, #fff, #dddddd);
		background: url('../images/arrow.png') no-repeat 100% 0px, linear-gradient(top, #fff, #dddddd);
		-webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
		-moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
		-ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
		appearance: none;
	
	}

	.quesbutton{
		padding: 0 15px;
		background-color: #DDD;
		font-family: Open Sans;
		border: 2px solid #999;
		color: #999;
		text-shadow: 0px 0px 0px #000000;
	}
	
	.quesbuttonContainer{
		text-align:right;
		float:left;
		width:100%;
	}

.articleTitle{ 
	color: #000;
	font-family: Tienne Bold, serif;
	font-size: 24px;
	padding: 15px 0 5px;
	border-bottom: 1px solid #cccccc;
	}
	
	.strong{font-family:Open Sans Bold;}
	
	.strongSmall{
		font-family: Open Sans Bold;
		font-size: 12px;
		line-height: 1em;
		}
	.strongDashed{font-family:Open Sans Bold; margin:10px 0}

	.disableQuestion {
		opacity: 0.5;
	}

	.hiddenQuestion {
		display: none;
		visibility: hidden;
	}
		
/* General button style (reset) */

	.icon-line:before {
		content: ' ';
	}
		

/* Button Save */
	.btn-save {
		cursor: pointer;
		border:0;
		display: inline-block;
		margin: 8px 12px 10px 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		outline: none;
		position: relative;
		background: #f29e0d;
		color: #fff;
		padding:6px 10px 6px 40px;
		border-radius: 10px;
		box-shadow: 0 6px #af7e10;
		background-image: url(../images/save-1.png);
		background-position:10% center;
		background-repeat:no-repeat;
		float:right;
	}

	.btn-save:hover {
		box-shadow: 0 4px #af7e10;
		top: 2px;
	}
	
	.btn-save:active {
		box-shadow: 0 0 #ab3c3c;
		top: 6px;
	}
	
	.btn-next {
		cursor: pointer;
		border:0;
		display: inline-block;
		margin: 8px 12px 10px 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		outline: none;
		position: relative;
		background: #f29e0d;
		color: #fff;
		padding:6px 20px 6px 20px;
		border-radius: 10px;
		box-shadow: 0 6px #af7e10;
		background-position:10% center;
		background-repeat:no-repeat;
		float:right;
	}

	.btn-next:hover {
		box-shadow: 0 4px #af7e10;
		top: 2px;
	}
	
	.btn-next:active {
		box-shadow: 0 0 #ab3c3c;
		top: 6px;
	}

	.btn-save:before {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		line-height: 3;
		font-size: 95%;
		border-right: 2px solid rgba(255,255,255,0.5);
		width: 35px;
	}

	.btn-logout {
	    cursor: pointer;
	    border: 0;
	    display: inline-block;
	    margin: 8px 12px 10px 0;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-weight: 700;
	    outline: none;
	    position: relative;
	    background: #0db9f2;
	    color: #fff;
	    padding: 6px 15px 6px 15px;
	    border-radius: 10px;
	    box-shadow: 0 6px #1050af;
	    float: right;
	}
	.btn-logout:hover {
		box-shadow: 0 4px #1050af;
		top: 2px;
	}

	.btn-logout:active {
		box-shadow: 0 0 #1050af;
		top: 6px;
	}

	.btn-active {
		cursor: pointer;
		border:0;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		outline: none;
		position: relative;
		background: #17aa56;
		color: #fff;
		padding:6px 10px 6px 40px;
		border-radius: 10px;
		box-shadow: 0 6px #047a34;
		background-image: url(../images/save-2.png);
		background-position:10% center;
		background-repeat:no-repeat;
	}
	
	.btn-active:hover {
		box-shadow: 0 4px #047a34;
		top: 2px;
	}

/**************** BUTTON CLOSE and OK ****************/

	.btn-close {
		cursor: pointer;
		border:0;
		display: inline-block;
		margin: 8px 12px 10px 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-family:Open Sans Bold;
		outline: none;
		position: relative;
		background: #f29e0d;
		color: #fff;
		padding:6px 12px;
		border-radius: 10px;
		box-shadow: 0 6px #af7e10;
		float:right;
	}
	.btn-close-rtl{float:left;}
	
	.btn-close:hover {
		box-shadow: 0 4px #af7e10;
		top: 2px;
	}
	
	.btn-close:active {
		box-shadow: 0 0 #ab3c3c;
		top: 6px;
	}

	.btn-close.active {
		cursor: pointer;
		border: 0;
		position: relative;
		background: #17aa56;
		color: #fff;
		box-shadow: 0 6px #047a34;
	}
	.btn-close.active:hover {
		box-shadow: 0 4px #047a34;
		top: 2px;
	}


/***************************/
	
	.textbox{ 
		height: 25px; 
		width: 97%;
		margin: 5px 0;
		font-size:15px;
		font-weight:bold;
		border: 1px solid #B9BDC1; 
		color: #797979; 
		-moz-box-shadow: 0 2px 4px #bbb inset; 
		-webkit-box-shadow: 0 2px 4px #BBB inset; 
		box-shadow: 0 2px 4px #BBB inset; 
		-moz-border-radius: 3px; 
		-webkit-border-radius: 3px; 
		border-radius: 3px; 
	} 
	.textbox:focus { 
		background-color: #E7E8E7; 
		outline: 0; 
	} 

	.textbox-big{
		height: 50px!important; 
	}


/* RADIO */ 

	.radioContainer{
		font-size:14px;
		line-height:1.5em;
		float:left;
		
	}
	 
	.regular-radio {
	  display: none;
	}
	
	.regular-radio + label {
	  -webkit-appearance: none;
	  background-color: #fafafa;
	  border: 1px solid #cacece;
	  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	  padding: 9px;
	  border-radius: 50px;
	  display: inline-block;
	  position: relative;
	  float:left;
	}

	.regular-radio:checked + label:after {
	  content: ' ';
	  width: 10px;
	  height: 10px;
	  border-radius: 50px;
	  position: absolute;
	  top: 4px;
	  background: #0A95AF;
	  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	  text-shadow: 0px;
	  left: 4px;
	  font-size: 32px;
	}

	.regular-radio:checked + label {
	  background-color: #e9ecee;
	  color: #99a1a7;
	  border: 1px solid #adb8c0;
	  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
	}
	
	.regular-radio + label:active, .regular-radio:checked + label:active {
	  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	}

	.big-radio + label {
	  padding: 16px;
	}
	
	.big-radio:checked + label:after {
	  width: 24px;
	  height: 24px;
	  left: 4px;
	  top: 4px;
	} 
	
	`
	

/************ ALERTS ***************/
	
	  .pageCover{
		  width:100%;
		  height:100%;
		  background-color:#000000;
		  z-index:800;
		  min-height: 670px;
		  height:auto !important;
		  position:absolute;
		  top:0;  
		  opacity: 0.41;
		-ms-filter:'progid:DXImageTransform.Microsoft.Alpha'(Opacity=0.41);
		  }
	  
	.popupTut{
		border:4px solid #0089af;
		-moz-border-radius: 12px; 
		-webkit-border-radius: 12px; 
		border-radius: 12px;
		margin-right: auto;
		margin-left: auto;
		width: 390px;
		margin-top: 20px;
		padding: 10px 10px 10px 110px;
		text-align:left;
		position:absolute;
		top:200px;
		left:145px;
		background-color:#ffffff;
		z-index:900;
		-moz-box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
		-webkit-box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
		box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	
	}

	.websterTutorial{
		border: 4px solid #0089af;
	    border-radius: 100px;
	    height: 95px;
	    margin-top: 30%;
	}
	
	.popupTut-rtl{padding: 10px 110px 10px 10px;}
	
	.teacherCircle:before{
		content: " ";
		width: 80px;
		height: 80px;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		background-image: url(../images/male-teacher.jpg);
		position: absolute;
		top: 10px;
		left: 10px;
		border: 4px solid #0089af;
	}
    .close-icon-back {
	    position: absolute;
	    top: -20px;
	    right: -15px;
	    font-size: 35px!important;
	    color: white;
	    z-index:3;
	}

	.close-icon {
	    position: absolute;
	    top: -20px;
	    right: -15px;
	    font-size: 35px!important;
	    cursor: pointer;
	    color: black;
	    z-index: 4;
	}
	.teacherCircle-rtl:before{right: 10px;}
	
	.bigBluNo{
		color:#0089af;
		font-size:16px;
		font-family:PaytoneOne;
		
	}

	.send-text{
		padding-left: 10px;
	}

	.fakeLink {
		color:blue;
		text-decoration: underline;
	}

	.fakeLink:hover {
		color: darkblue;
		text-decoration: underline;
		cursor: pointer;
	}
	

/****************************/


/****** Answers Summary *****/
.TablerowTitle{
  display: table;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid rgb(1, 98, 119);
  margin-bottom: 5px;
}


  .Tablerow{
	display: table;
	width: 100%;
	border-bottom: 2px dotted rgba(15, 172, 206, 0.57);
	margin-bottom: 0px;
	padding: 3px;
}

.col-2, .col-5{
    display: table-cell;
}

.col-2 {
  width: 16.66666667%;
}

.col-5 {
  width: 41.666665%;
}

.introTextSummary {
    border: 2px solid #900;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
    /* width: 310px; */
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}

.numAnswer {
	color:#900;
}

.italic{
	font-style: italic;
}

.containerSummary{
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 90%;
	text-align: center;
	max-width: 1000px;
}

.loginContainerSummary{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	text-align: center;
	padding: 8px;
}

.password-input{
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: -10px;
  }

  #error_msg{
  color: #00529B;
    background-color: #BDE5F8;
}

#wrong_msg{
  color: #9F6000;
    background-color: #FEEFB3;
}

.msgDiv{
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #cacaca;
  padding: 10px 15px;
  margin: 15px 0px;
}

.profesor-block{
	width: 72%;
    position: relative;
    margin-left: 72px;
}

.qitems{
	position: relative;
}

.regular-radio + label {
    position: absolute;
    bottom: 50%;
    margin-bottom: -8px;
}

.doubleColor{
	background: linear-gradient(0deg, #DAF8FF 56%, white 41%);
}

.doubleColor2{
	background: linear-gradient(0deg, #DAF8FF 56%, white 41%);
}

.doubleColor4{
	background: linear-gradient(0deg, #DAF8FF 54%, white 46%);
}