@charset "utf-8";
/* CSS Document */

@import url('font-awesome.css');

@import url('font-awesome.min.css');



@font-face {
  font-family: Kameron;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Kameron-Regular.eot');
  src: local("Kameron"), local("Kameron"), url('fonts/Kameron/Kameron-Regular.ttf') format('truetype');
}


@font-face {
  font-family: Kameron Bold;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/Kameron/Kameron-Bold.eot');
  src: local("Kameron Bold"), local("Kameron Bold"), url('fonts/Kameron/Kameron-Bold.ttf') format('truetype');
}



@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: regular;
    src: url('fonts/Open_Sans/OpenSans-Regular.eot');
  src: local("Open Sans"), local("Open Sans"), url('fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
  
}


@font-face {
  font-family: Open Sans Bold;
  src: local("Open Sans Bold"),
  local("Open Sans Bold");
 src: url('fonts/Open_Sans/OpenSans-Bold.ttf'),
  url('fonts/Open_Sans/OpenSans-Bold.eot'),
  url('fonts/Open_Sans/OpenSans-Bold.woff');
  font-weight: bold;
}



@font-face {
  font-family: Open Sans Semibold;
  font-style: normal;
  font-weight: 600;
  src: url('fonts/Open_Sans/OpenSans-Semibold.eot');
  src: local("Open Sans Semibold"), local("Open Sans Semibold"), url('fonts/Open_Sans/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: 300;
    src: url('fonts/Open_Sans_Condensed/OpenSans-CondLight.eott');
  src: local("Open Sans Condensed"), local("Open Sans Condensed"), url('fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf') format('truetype');

}

@font-face {
  font-family: Open Sans Condensed Bold;
  font-style: normal;
  font-weight: 700;
    src: url('fonts/Open_Sans_Condensed/OpenSans-CondBold.eott');
  src: local("Open Sans Condensed Bold"), local("Open Sans Condensed Bold"), url('fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf') format('truetype');

}


@font-face {
  font-family: Open Sans Condensed Italic;
  font-style: italic;
  font-weight: normal;
  src: url('fonts/Open_Sans_Condensed/OpenSans-CondLightItalic.eot');
  src: local("Open Sans Condensed Italic"), local("Open Sans Condensed Italic"), url('fonts/Open_Sans_Condensed/OpenSans-CondLightItalic.ttf') format('truetype');
}


@font-face {
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Signika/Signika-Regular.eot');
  src: local("Signika"), local("Signika"), url('fonts/Signika/Signika-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Yeseva_One/YesevaOne-Regular.eot');
  src: local("Yeseva One"), local("Yeseva One"), url('fonts/Yeseva_One/YesevaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Tienne Bold;
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Tienne/Tienne-Bold.eot');
  src: local("Tienne Bold"), local("Tienne Bold"), url('fonts/Tienne/Tienne-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Tienne Heavy;
  font-style: normal;
  font-weight: 900;
  src: url('fonts/Tienne/Tienne-Heavy.eot');
  src: local("Tienne Heavy"), local("Tienne Heavy"), url('fonts/Tienne/Tienne-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: fontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/fontAwesome/fontawesome-webfont.eot');
  src: local("fontAwesome"), local("fontAwesome"), url('fonts/fontAwesome/fontawesome-webfont.ttf') format('truetype');
}

@font-face {
  font-family: PaytoneOne;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Paytone_One/PaytoneOne.eot');
  src: local("PaytoneOne"), local("PaytoneOne"), url('fonts/Paytone_One/PaytoneOne.ttf') format('truetype');
}