[ng-bind-html] p {display:inline;margin:0;}
a {cursor:pointer;}
.introTextSc3  p { margin-top: 10px; }
.avatar-name + span { color:#900;}

#main-body {
	background-image: url("../images/page-bg.jpg");
}

#framebody {
	background-color: white;
}

#complete-body{
	display: flex;
	width: 1272px;
	margin-left: auto;
	margin-right: auto;
}
.left-nav {
	min-width: 85px;
	height: 768px;
	display: inline-block;
	position: relative;
}


.center-nav {
	width: 100%;
	height: 764px;
    display: inline-block;
	border: 2px solid grey;
    background-color: lightgrey;
}
.center-nav .center-top{
	width: 100%;
	height: 54px;
	display: inline-block;
	background-color: lightgrey;
}

.center-nav .center-top .title-nav{
	width: 100%;
	text-align: center;
    font-size: 10px;
    font-weight: bold;
    font-family: "Open Sans";
}

.center-nav .center-top .url-nav{
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
}

.center-nav .center-top .back-nav{
	width: 30px;
    height: 30px;
    background: grey;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    margin-left: -37px;
    margin-top: -6px;
}

.center-nav .center-top .back-nav:hover{
	cursor: pointer;
	background: lightgrey;
}

.back-nav .fa-caret-left{
    margin-left: 7px;
    font-size: 30px;
}

.back-nav .fa-caret-left:hover{
	cursor: pointer;
}

.center-nav .center-border{
	width: 15px;
	height: 695px;
	display: inline-block;
	background-color: lightgrey;
	position: relative;
}

.center-nav .center-row{
	display: flex;
	background-color: lightgrey;
	padding: 0px 15px;
}

.center-nav .center-tabs{
    background-color: grey;
    height: 22px;
    width: 100%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.center-nav .center-content{
	width: 100%;
	height: 665px;
	display: inline-block;
}

.content-frame{
	position: relative;
	border: 1px solid black;
}

.center-nav .center-bottom{
	width: 100%;
	height: 15px;
	display: inline-block;
	background-color: lightgrey;
}

.right-nav {
	min-width: 330px;
	height: 768px;
	display: inline-block;
}

.response-div {
	background: lightgrey;
	padding:15px;
	position: relative;
    border: 2px solid grey;
    width: 281px;
    height: 734px;
    margin-left: 15px;
}

.center-tabs ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.center-tabs ul li {
	position: relative;
	display:inline-block;
	padding: 2px 15px;
	background-color: lightgrey;

	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(140,140,140,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8c8c8c', GradientType=0 );


	border-right: 1px solid black;
	margin-left: 19px;
}

.center-tabs ul li:first-child {
	position: relative;
	display:inline-block;
	padding:2px 20px;
	background-color: lightgrey;
	border-right: 1px solid black;
	margin-left: 0!important;
	z-index: 999;
}

.center-tabs ul li:first-child::after {
	content: '';
	position: absolute;
	left: 0px;
	top: -0px;
	width: 20px;
	height: 100%;
	border: inherit;
	background-color: inherit;
	border-right-width: 0;
	transform: skewX(0deg);
}

.center-tabs ul li:before {
	content: '';
	position: absolute;
	right: -10px;
	top: -0px;
	width: 20px;
	height: 100%;
	border: inherit;
	background-color: inherit;

	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(140,140,140,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8c8c8c', GradientType=0 );

	border-left-width: 1px;
	transform: skewX(-30deg);
}

.center-tabs ul li:after {
	content: '';
	position: absolute;
	left: -10px;
	top: -0px;
	width: 20px;
	height: 100%;
	border: inherit;
	background-color: inherit

	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(140,140,140,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(140,140,140,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8c8c8c', GradientType=0 );

	border-right-width: 0;
	transform: skewX(-30deg);
}


.center-tabs ul li:hover, .center-tabs ul li:hover:before,  .center-tabs ul li:hover:after {
	cursor: pointer;
	background: lightblue;
}

.center-tabs ul li a {
	text-decoration: none;
	color: black;
}

.center-tabs ul li a:hover {
	text-decoration: none;
	color: black;
}

.center-tabs ul li.currentTab {
	background:rgb(255, 255, 255);
	margin-left: 19px;
}
.center-tabs ul li.currentTab:after, .center-tabs ul li.currentTab:before {
	background:rgb(255, 255, 255);
}

.top-question {
	height: 90px;
	width: 280px;
	display: inline-block;
	background: url("../images/question-title.png");
	border: 1px black solid;
	border-bottom: 0px;
	background-size: 280px 90px;
	background-repeat: no-repeat;
}

.top-question img{
	margin: 10px 25px 5px;
}

.top-question span{
	display: block;
	padding-left: 25px;
	font-size: 36px;
	color: white;
	font-family: "Open Sans";
}

.progess-boxes {
	list-style: none;
	padding: 0px;
	margin-left: 25px;
	border:1px solid black;
	border-bottom: 0px;
	width: 20px;
}

.progess-boxes li {
	background-color: grey;
	width: 20px;
	height: 25px;
	border-bottom: 1px solid black;
	text-align: center;
	padding-top: 7px;
	font-family: "Open Sans";
	font-size: 12px;
}

.progess-boxes-blackwell {
	list-style: none;
	padding: 0px;
	margin-left: 25px;
	border:1px solid black;
	border-bottom: 0px;
	width: 20px;
}

.progess-boxes-blackwell li {
	background-color: grey;
	width: 20px;
	height: 28px;
	border-bottom: 1px solid black;
	text-align: center;
	padding-top: 11px;
	font-family: "Open Sans";
	font-size: 12px;
}

.progress-title{
	position: absolute;
	margin-left: 0px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	display: block;
	margin: -380px 0px 0px -17px;
	color: white;
	font-size: 12px;
	font-family: "Open Sans";
}

.timer {
	background: linear-gradient(0deg, black, grey);
	width: 60px;
	border: 2px solid grey;
	margin-left: 5px;
	margin-top: 22px;
}

.timer .clock-title{
	font-size: 10px;
	color:white;
	font-family: "Open Sans";
	text-align: center;
}

.timer .timer-val{
	color: #c4d82d;
		font-family: "Open Sans";
	text-align: center;
}

.answered {
	background-color: #DAF8FF!important;
}

.popUp {
	background-color: white;
	position: absolute;
    top: 50%;
    margin-top: -98.5px;
    left: 50%;
    margin-left: -219px;
	border:4px solid #0089af;
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border-radius: 12px;
	width: 390px;
	padding: 20px;
	text-align:left;
	z-index:900;
	-moz-box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	-webkit-box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	visibility: hidden;
	font-size: 14px;
	font-weight: bold;
}

.blackout {
	position: fixed;
	top: 0;
	left: 0;
	background-color: grey;
	opacity: 0.5;
    min-width: 1px;
    width: 100%;
    height: 100%;
	visibility: hidden;
}


.btn-save-pop {
	cursor: pointer;
	border: 0;
	display: inline-block;
	margin: 8px 12px 10px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	background: #f29e0d;
	color: #fff;
	padding: 6px 20px;
	border-radius: 10px;
	box-shadow: 0 6px #af7e10;
	background-position: 10% center;
	background-repeat: no-repeat;
	text-align: center;
}

.btn-save-pop:hover {
	box-shadow: 0 4px #af7e10;
	top: 2px;
}

.btn-save-pop:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

.btn-save-pop:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 95%;
	border-right: 2px solid rgba(255,255,255,0.5);
	width: 35px;
}

.popactionsContainer{
	text-align: center;
	margin-top: 15px;
}

.popUpText{
	display: table-cell;
	position: relative;
	padding-left: 10px;
	height: 91px;
	width: 296px;
	vertical-align: middle;
	font-family: "Open Sans";
}

.popUp .upperRow{
	display: table;
}

.clickable:hover{
	cursor: pointer;
	background-color: #89b48b !important;
}

/*
@media all and (max-width: 1300px) {
  #complete-body{
		width: 100%;
	}
}*/

