/*  Fonts  */
@font-face {
  font-family: circularStd-book;
  src: url(../fonts/CircularStd-Book.otf);
}
@font-face {
  font-family: circularStd-bookitalic;
  src: url(../fonts/CircularStd-BookItalic.otf);
}
@font-face {
  font-family: circularStd-bold;
  src: url(../fonts/CircularStd-Bold.otf);
}
@font-face {
  font-family: circularStd-bolditalic;
  src: url(../fonts/CircularStd-BoldItalic.otf);
}
@font-face {
  font-family: circularStd-medium;
  src: url(../fonts/CircularStd-Medium.otf);
}
@font-face {
  font-family: circularStd-mediumitalic;
  src: url(../fonts/CircularStd-MediumItalic.otf);
}
@font-face {
  font-family: dk-memory;
  src: url(../fonts/DK\ Frozen\ Memory.otf);
}

/*  General CSS  */
body {
  font-family: circularStd-book;
  font-size: 16px;
}
img {
  width: 100%;
}
img.no-resize {
  max-width: 100%;
  width: auto;
}
strong, b {
  font-family: circularStd-bold;
  font-weight: normal;
}
.popUp {
	background-color: white;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border-radius: 12px;
  max-width: 390px;
  width: 100%;
  padding: 20px;
  padding-left: 100px;
	text-align:center;
	z-index:900;
	-moz-box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	-webkit-box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	visibility: hidden;
	font-size: 1.2rem;
  font-family: circularStd-bold;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}
.popUp:before {
  content: '';
  height: 200px;
  width: 200px;
  background: url(../images/popup.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  top: 0;
}
.popUp .upperRow {
  padding-bottom: 1rem;
}
.popUp > div {
  
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .popUp {
    font-size: 14px;
    padding-left: 20px;
    height: auto;
  }
  .popUp:before {
    height: 150px;
    position: initial;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: auto;
    transform: translateX(0);
    margin-bottom: 0.5rem;
  }
}
.blackout {
	position: fixed;
	top: 0;
	left: 0;
	background-color: grey;
	opacity: 0.5;
    min-width: 1px;
    width: 100%;
    height: 100%;
	visibility: hidden;
}

/*  Reuseable CSS  */
.btn-yellow {
  color: black;
  border-radius: 0;
  background: #FFCD00;
  padding: 6px 20px;
}
.btn-blue {
  color: white !important;
  border-radius: 50px;
  background: #1B55A9;
  padding: 6px 45px;
}
.form-control {
  font-size: 12px;
}
.btn {
  font-size: 12px;
}
.btn-yellow {
  background-color: #FFCD00;
}
.btn-save {
  padding: 0.375rem 1rem;
  border-radius: 50px;
  background: #d10000;
  color: #fff;
  font-size: 14px;
}
.btn-save-pop {
  background: #D10000;
  color: white;
  padding: 0.375rem 1rem;
  border-radius: 50px;
}

/*  Custom CSS  */
/*  -Login-  */
#content-frame {
  border: none;
}

#content-frame.soal {
  border: 1px solid #999;
}
.login-wrapper {
  min-height: 100vh;
  background-image: url(../images/background_login.png);
  background-color: #D1FAFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.login-wrapper .container {
  height: 100%;
}
.login-wrapper .container > .row {
  height: 100%;
}
.login-wrapper .images img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  padding: 3rem;
}
.login-wrapper .intro {
  color: #fff;
  text-align: right;
}
.login-wrapper .intro h2 {
  margin-bottom: 2rem;
  font-weight: bold;
}
.login-wrapper .intro h2 small {
  font-size: 1rem;
  margin-top: 0.5rem;
  display: block;
  text-align: center;
}
.login-wrapper .login-form {
  margin-top: 2rem;
}
.login-wrapper .login-form label {
  color: white;
}
.login-wrapper .login-form .form-control {
  padding: .5rem 1rem;
  border-radius: 50px;
  text-align: center;
}
@media(max-width: 991px) {
  .login-wrapper .images img {
    height: 150px;
    padding: 15px;
  }
  .login-wrapper .intro h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .login-wrapper .intro h2 small {
    font-size: 0.7rem;
  }
  .login-wrapper .login-form {
    margin-top: 0.5rem;
  }
}

/*  -Navigation-  */
.left-nav {
  background: #2EB5C0;
  display: flex;
  align-items: center;
}
.left-nav > div {
  padding: 1rem;
  height: 90px;
}
.left-nav > div:not(:last-child) {
  display: flex;
  align-items: center;
}
.left-nav .logo {
  text-align: center;
}
.left-nav .logo img {
  height: 50px;
  border-right: 1px solid #fff;
  padding-right: 2rem;
  object-fit: contain;
  object-position: center;
}
.left-nav .url-nav {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 341px);
  flex: 0 0 calc(100% - 341px);
  max-width: calc(100% - 341px);
}
.left-nav .url-nav #url-text {
  background: white;
  border-radius: 50px;
  overflow: hidden;
  /* display: block; */
  padding: 0.5rem 1rem;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.left-nav .progress-wrapper {
  background: #009FAC;
  width: 250px;
}
.left-nav .progress-wrapper .text {
  font-size: 0.7rem;
  color: white;
  text-align: center;
}
.left-nav .progress-boxes {
  position: relative;
  margin-bottom: 0;
  text-align: center;
}
.left-nav .progress-boxes:before {
  content: '';
  height: 48px;
  width: 20px;
  background: url(../images/trophy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}
.left-nav .progress-boxes li {
  display: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-left: 0.5rem;
  vertical-align: middle;
}
.left-nav .progress-boxes li.answered {
  display: inline-block;
}
@media (max-width: 767px) {
  .left-nav {
    display:block;
  }
  .left-nav .url-nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;

  }
  .left-nav .logo {
    justify-content: center;
    padding-bottom: 0;
    height: auto;
  }
  .left-nav .logo img {
    padding-right: 0;
    border-right: none;
  }
  .left-nav .progress-wrapper {
    width: 100%;
  }
}

.right-nav {
  background: url('../images/timer_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}
.right-nav .timer {
  text-align: right;
  font-size: 1.2rem;
  width: 90%;
  padding-left: 10%;
}
/*.right-nav .timer > span {*/
/*  padding: 0.5rem 1.5rem;*/
/*  color: #fff;*/
/*}*/
.right-nav .timer .clock-title {
  background: #D10000;
}
.right-nav .timer .timer-val {
  background: #363636;
}

/*  -Main Content-  */
.iframe-wrapper iframe {
  width: 100%;
  height: calc(100vh - 126px);
  border: none;
}
#question-frame {
  height: calc(100vh - 90px);
}
/*  -Question-  */
.disableQuestion {
  opacity: 0.5;
}
.hiddenQuestion {
  display: none !important;
  visibility: hidden;
}
#rightPanel {
  background-image: url(../images/chat_background.png);
  background-color: #EAECEF;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
  padding-bottom: 3.5rem;
}

#rightPanel .teacher,
#rightPanel .question,
#rightPanel .student {
  display: flex;
  margin: 1rem 0;
  padding: 0 1rem;
  padding-bottom: 0;
}
#rightPanel .textbox-wrapper {
  background: #fff;
  padding: 0.75rem;
  border-radius: 6px;
  position: relative;
  font-size: 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 70px);
  flex: 0 0 calc(100% - 70px);
  max-width: calc(100% - 70px);
}
#rightPanel .question .textbox-wrapper {
  padding: 0.75rem;
  border-radius: 6px;
  position: relative;
  font-size: 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #b5fbff;
}
#rightPanel .student .textbox-wrapper {
  background-color: #b5fbff;
}
#rightPanel .icon img {
  height: 50px;
  width: 50px;
}
#rightPanel .textbox-wrapper .name {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  color: #D10000;
  text-transform: uppercase;
  font-family: circularStd-bold;
  font-size: 14px;
}
#rightPanel .teacher .textbox-wrapper {
  margin-left: 1rem;
}
#rightPanel .question .textbox-wrapper {
  margin-left: 0;
}
#rightPanel .teacher .textbox-wrapper:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1rem solid #fff;
  border-left: 1rem solid transparent;
  top: 0;
  left: -0.75rem;
}
#rightPanel .question .qnumber {
  border-bottom: 1px solid #999999;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  color: #D10000;
  text-transform: uppercase;
  font-family: circularStd-bold;
  font-size: 1.2rem;
}
#rightPanel .student .textbox-wrapper {
  margin-right: 1rem;
}
#rightPanel .student .textbox-wrapper:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1rem solid #b5fbff;
  border-right: 1rem solid transparent;
  top: 0;
  right: -0.75rem;
}
#rightPanel .student .textbox-wrapper .name {
  color: #484848;
  margin-bottom: 1rem;
  border-color: #999999;
}

/*  -iFrame Body-  */
/*  Suku Laut  */
.sukulaut .content .section:nth-child(1) {
  background-color: #00D5FA;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  position: relative;
  padding: 2rem 0;
}
.sukulaut .content .section:nth-child(1) .image {
  padding-left: 2rem;
  padding-right: 2rem;
}
.sukulaut .content .section:nth-child(2) {
  background-color: #9BDB2A;
  padding: 2rem 0 0;
}
.sukulaut .content .section:nth-child(2) .image {
  position: relative;
}
.sukulaut .content .section:nth-child(2) .image img {
  max-width: 60%;
  margin-bottom: -2px;
}
.sukulaut .content .section:nth-child(2) .image .float-text {
  position: absolute;
  right: 60px;
  background: #1A55AA;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 1.3rem;
  max-width: 400px;
  color: #fff;
  font-family: circularStd-bold;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.sukulaut .content .section:nth-child(2) .image .float-text p {
  margin-bottom: 0;
}
@Media(max-width: 767px) {
  .sukulaut .content .section:nth-child(2) .image .float-text {
    position: initial;
    transform: translateY(0);
    margin: 1rem auto;
  }
  .sukulaut .content .section:nth-child(2) .image img {
    max-width: 100%;
  }
}
.sukulaut .content .section:nth-child(2) .text {
  background-color: #814A2D;
  padding: 4rem 2rem;
}
.sukulaut .content .section:nth-child(2) .text h4 {
  color: #fff;
  line-height: 1.5;
  max-width: 70%;
  margin: 0 auto;
}
.sukulaut .content .section .text h2 {
  color: white;
}
.sukulaut .info {
  display: flex;
  border-bottom: 4px solid #4C8FEF;
  background-color: #1A55AA;
  align-items: center;
  padding: 1rem;
}
.sukulaut .info img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  max-width: 50px;
  margin-right: 1rem;
}
.sukulaut .info .text {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: circularStd-bold;
  letter-spacing: 1.6px;
}
.top-menu {
  margin: 1rem;
}
.top-menu .nav-item {
  margin: 0 0.5rem;
}
.top-menu .nav-link { 
  background-color: #FFCD00;
  color: #1850A0;
  font-family: circularStd-bold;
  font-size: 1rem;
  /*opacity: 0.5;*/
}
.top-menu .nav-link.active {
  opacity: 1;
}

/*  Sebaran Suku  */
.sebaransuku .section {
  position: relative;
  background: #6FDBDB;
}
.sebaransuku .section:first-child {
  background: #DDF7FD;
}
.sebaransuku .section .image {
  padding: 0 2rem;
}
.sebaransuku .section .overlay {
  padding-bottom: 4rem;
  background: url("../images/sebaransuku_2.png") bottom center no-repeat;
  background-size: contain;
}
.sebaransuku .section .title {
  background: url(../images/sebaransuku_0.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1rem;
  padding-left: 3rem;
  margin-bottom: 2rem;
  margin-left: -1.5rem;
  font-family: circularStd-bold;
  letter-spacing: 2px;
}
.sebaransuku .section .text {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  padding-left: 1.5rem;
}
.sebaransuku .diagram {
  background: #6FDBDB;
  padding: 1.5rem;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

/*  Orang Laut  */
.oranglaut .trapezium {
  height: 0;
  max-width: 600px;
  width: 100%;
  border-bottom: 60px solid #482C04;
  border-left: 100px solid transparent;
  margin-right: 0;
  margin-left: auto;
  color: white;
  text-align: right;
  margin-top: -60px;
  position: relative;
  z-index: 1;
}
.oranglaut .trapezium .text {
  padding: 0.8rem 2rem;
  font-size: 12px;
}
.oranglaut .section {
  background-color: #BFE2FA;
}
.oranglaut .section .title {
    font-family: dk-memory;
    text-align: center;
  color: #1A55AA;
  text-transform: uppercase;
  font-size: 4rem;
}
.oranglaut .section .text {
  padding: 2.5rem;
  font-size: 1.4rem;
    text-align: center;
}
.oranglaut .section > .text h3 {
  margin-bottom: 0;
}
@media(max-width: 991px) {
  .oranglaut .section .overlay .title {
    font-size: 3rem;
  }
}

/*  Fakta Suku Bajo  */
.faktasukubajo .section.with-background {
  background: #88E6DF;
}
.faktasukubajo .section .content {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}
.faktasukubajo .section .content .title {
  font-family: dk-memory;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #1E89B9;
}
.faktasukubajo .side-wrapper {
  padding: 0 2rem;
}
.faktasukubajo .side-wrapper > .row {
  padding-bottom: 2rem;
}
.faktasukubajo .side-wrapper > .row:not(:last-child) {
  padding-bottom: 1rem;
}
.faktasukubajo .side-wrapper .text {
  font-size: 1.2rem;
}
.faktasukubajo .side-wrapper .image {
  margin-bottom: 1rem;
}
.faktasukubajo .with-image {
  background-image: url(../images/faktasukubajo_3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 6rem;
  text-align: center;
}
.faktasukubajo .with-image .text {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
}
.faktasukubajo .with-image .image {
  padding: 0 2rem;
}

/*  Asal Usul Suku Bajo  */
.asalusulsukubajo {
  background: #E2F5FF;
}
.asalusulsukubajo .with-image {
  background-image: url(../images/asalusulbajo_1.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: calc(100% + 20%);
  padding: 1.5rem;
  padding-bottom: 10rem;
  border-top: 5px solid #1A55AA;
  position: relative;
}
.asalusulsukubajo .with-image:before {
  content: '';
  background: #CBEDFF;
  position: absolute;
  width: 100%;
  height: calc(100% - 10rem);
  top: 0;
  left: 0;
  right: 0;
}
.asalusulsukubajo .with-image .title {
  font-family: dk-memory;
  font-size: 3rem;
  color: #1E89B9;
  margin-bottom: 2rem;
}
.asalusulsukubajo .text {
  font-size: 1.4rem;
  line-height: 1.5;
}
.stories .image {
  padding: 1rem;
  padding-bottom: 1.5rem;
}
.stories .with-maxwidth {
  max-width: 600px;
}
.stories .with-maxwidth.center {
  margin: 0 auto;
}
.asalusulsukubajo .stories .with-backgroundinverse {
  background: #C0E8FD;
  padding: 2.5rem 1.5rem 1.5rem;
}

/*  Keunikan Suku Bajo  */
.keunikansukubajo .with-background {
  background: #E1F2F1;
}

.keunikansukubajo .image {
  margin-bottom: 1.2rem;
}

.keunikansukubajo .text {
  line-height: 1.5;
  font-size: 1.2rem;
}

/*  Penjaga Laut Suku Bajo  */
.penjagalautbajo .stories {
  background: #F1F1F1;
}
.penjagalautbajo .with-background {
  background: #F18425;
}
.penjagalautbajo .with-background .title {
  color: white;
  padding: 1rem 1.5rem;
}
.penjagalautbajo .with-background .title h1 {
  font-size: 5rem;
  line-height: 1;
  letter-spacing: 2px;
}
.penjagalautbajo .with-background .title p {
  font-size: 2rem;
  letter-spacing: 2px;
}
.penjagalautbajo .text {
  line-height: 1.5;
  font-size: 1.2rem;
}
.penjagalautbajo .text.center {
  padding: 1.5rem;
  text-align: center;
}
.penjagalautbajo .side .text {
  margin: 2rem 1rem;
  padding: 1.5rem;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.penjagalautbajo .side .col-lg-6:nth-child(1) .text {
  background: #F18425;
}
.penjagalautbajo .side .col-lg-6:nth-child(2) .text {
  background: #1A55AA;
  margin-top: 5rem;
}
.penjagalautbajo .overlay-wrapper {
  position: relative;
}
.penjagalautbajo .overlay-wrapper .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}
.penjagalautbajo .overlay-wrapper .overlay .text {
  color: white;
}
.penjagalautbajo .overlay-wrapper .overlay .text p {
  margin-bottom: 0;
}

/*  Kepunahan Suku Bajo  */
.kepunahansukubajo {
  color: #1850A0;
}
.kepunahansukubajo .stories {
  background-color: #1A55AA;
}
.kepunahansukubajo .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  font-size: 4.5rem;
  color: #1A55AA;
  font-family: circularStd-bold;
  text-align: center;
  justify-content: center;
}
.kepunahansukubajo .stories .title {
  font-family: dk-memory;
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.2rem;
}
.kepunahansukubajo .stories .image.oversize {
  overflow: hidden;
}
.kepunahansukubajo .stories .image.oversize img {
  width: 105%;
  margin-left: -2.5%;
}
.kepunahansukubajo .with-background {
  background: #1A55AA;
  /*padding: 24rem 2rem;*/
  color: white;
  /*margin-top: -23rem;*/
}
.kepunahansukubajo .stories .image.floathalf {
  /*margin-top: -35%;*/
  padding: 0 5rem;
}
.kepunahansukubajo .with-backgroundefault {
  background: #E5E7EA;
  /*padding: 13rem 2rem 5rem;*/
  /*margin-top: -11rem;*/
}

/*  Result  */
.loginMainLogo {
  background: #2EB5C0;
  padding: 1rem;
  text-align: center;
}
.loginMainLogo img {
  width: 150px;
}
#answerTable .table th {
  font-weight: normal;
  font-family: circularStd-bold;
  background: #D10000;
  color: white;
}
#answerTable .table th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#answerTable .table th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.actionsContainer {
  text-align: center;
  margin: 2rem 0;
}

/*  Tooltip  */
.tooltip-custom {
  position: relative;
}
.tooltip-custom:hover .tooltip-container,
.tooltip-custom:focus .tooltip-container,
.tooltip-custom:active .tooltip-container {
  display: block;
}
.tooltips {
  text-decoration: underline;
  cursor: pointer;
  color: #087BEF;
}
.sukulaut .tooltips {
  color: #fff;
}
.tipit {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 1rem;
  border-radius: 6px;
  font-size: 1rem;
  color: #000;
  text-align: center;
  width: 300px;
}
.tipit:before {
  content: '';
}
.tipit.top:before {
  border-top-color: #fff;
}
.tipit.bottom:before {
  border-bottom-color: #fff;
}

.tooltip-custom .tooltip-container {
  display: none;
  position: absolute;
  top: 2rem;
  width: 300px;
  left: -1rem;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 1rem;
  border-radius: 6px;
  font-size: 1rem;
  color: #000;
  text-align: center;
}
.tooltip-custom .tooltip-container.top {
  display: block;
  position: absolute;
  bottom: 100%;
  width: 300px;
  left: -1rem;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 1rem;
  border-radius: 6px;
  font-size: 1rem;
  color: #000;
  text-align: center;
}
.tooltip-custom .tooltip-container:before {
  width: 0; 
  height: 0; 
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid white;
  content: '';
  position: absolute;
  top: -1rem;
  left: 1rem;
}
.tooltip-custom .tooltip-container.top:before {
  content: '';
  display: none;
}
.tooltip-custom .tooltip-container.top:after {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid white;
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 1rem;
}
.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: .65rem;
  padding: .75rem;
  border-top: 2px solid #999999;
  background-color: #fff;
  text-align: center;
}

.rightRadio{float:right; width:90%;}

.leftRadio{float:left; width:10%;}

.qitems.form-group {
  float: left;
  width: 100%;
  margin-bottom: .5rem;
}
.qitems .table {
  margin-bottom: 0;
}
.qitems .table td {
  padding: .5rem;
}

.breadcrumb {
  margin-bottom: 0;
  padding: .5rem 1rem;
  font-size: .85rem;
  border-right: 1px solid #999;
}
.breadcrumb-item {
  cursor: pointer;
}
.breadcrumb-item:hover,
.breadcrumb-item.active {
  color: #d10000;
}
@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

.fakeLink {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  color: #D10000;
}
strong.fakeLink {
  cursor: text;
  text-decoration: none;
}