@charset "UTF-8";
/* CSS Document */

body,
html {
	margin:0;
	padding:0;
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	-webkit-font-smoothing: antialiased;
}

#container{width: 100%; margin: 0 auto; height: 630px;}

#framebody {
	background-color: white;
}

.searchBox {
	background: #fff;
	background-clip: padding-box;
	border: 1px solid #cdcdcd;
	border-color: rgba(0,0,0,.15);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 60%;
	padding: 8px;
	/*min-width: 450px;*/
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	background-image: url(../images/google-icon.png);
	background-repeat: no-repeat;
	background-position: right;
	margin-top: 20px;
}

.google-trademark {
	font-style: italic;
	font-size:85%;
	font-weight: bold;
	position: absolute;
	bottom: -300px;
	text-align: center;
	width: 100%;

}

.searchButton {
	border: 1px solid #dcdcdc;
	border-color: rgba(0,0,0,0.1);
	color: #444!important;
	font-size: 12px;
	background: #f5f5f5;
	background: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background: linear-gradient(top,#f5f5f5,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5f5f5,endColorstr=#f1f1f1,GradientType=1);
	cursor: default!important;
	display: inline-block;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	text-decoration: none!important;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-user-select: none;
}


.se_result
{
	padding-left:120px;
	padding-right:120px;
	margin-bottom: 20px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.se_result h3
    {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
        font-size: 16px;
        margin-bottom: 3px;
        line-height: 15px;
 }

.se_result h4
    {
        color: #689F3A;
        font-size: 13px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 15px;
        margin-bottom: -8px
}


.topGoogle {
	white-space: nowrap;
	/*display: -webkit-flex;
	display: flex;*/
	margin-left: 0!important;
	margin-right: 0!important;
	background: #f1f1f1;
	font: 13px/27px Arial,sans-serif;
	position: relative;
	height: 60px;
	width: 100%;
}

.smallLogo{
	line-height: 58px;
	vertical-align: middle;
	display: inline-block;
	background-image: url('../images/i1_e9f91fe3.png');
	background-size: 247px 204px;
	background-position: -130px -77px;
	height: 33px;
	width: 92px;
	margin: 15px;
	float:left;


}

.searchBox2 {
	background: #fff;
	background-clip: padding-box;
	border: 1px solid #cdcdcd;
	border-color: rgba(0,0,0,.15);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 60%;
	height: 27px;
	padding: 2px 0 2px 10px;
	/*min-width: 450px;*/
	background-image: url(../images/google-icon.png);
	background-repeat: no-repeat;
	background-position: right;
	margin-top: 15px;
	font-size: 14px;
	float:left;
}

.googleButton {
	border: 1px solid transparent;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 27px;
	margin: 0;
	outline: none;
	margin-top: 15px;
	padding: 0 0;
	width: 60px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #4285f4;
	background-image: url('../images/i1_e9f91fe3.png');
	background-size: 247px 204px;
	background-position: -70px -95px;
	float:left;
}



/********************** RTL layout *****************/

.searchBox-rtl {
	background: #fff;
	background-clip: padding-box;
	border: 1px solid #cdcdcd;
	border-color: rgba(0,0,0,.15);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 570px;
	padding: 8px;
	min-width: 450px;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	background-image: url(../images/google-icon.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-top: 20px;
	direction:rtl;
}


.se_result-rtl {
    padding-right: 120px;
    margin-bottom: 20px;
    line-height: 15px;
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
}


.se_result-rtl h3
    {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
        font-size: 16px;
        margin-bottom: 3px;
        line-height: 15px;
 }

.se_result-rtl h4
    {
        color: #689F3A;
        font-size: 13px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 15px;
        margin-bottom: -8px
}


.smallLogo-rtl{
	line-height: 58px;
	vertical-align: middle;
	display: inline-block;
	background-image: url('../images/i1_e9f91fe3.png');
	background-size: 247px 204px;
	background-position: -130px -77px;
	height: 33px;
	width: 92px;
	margin: 15px;
	float:right;


}


.searchBox2-rtl {
	background: #fff;
	background-clip: padding-box;
	border: 1px solid #cdcdcd;
	border-color: rgba(0,0,0,.15);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 560px;
	height: 27px;
	padding: 2px 10px 2px 0;
	min-width: 450px;
	background-image: url(../images/google-icon.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-top: 15px;
	font-size: 14px;
	float:right;
	text-align:right;
}

.googleButton-rtl {
	border: 1px solid transparent;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	height: 27px;
	margin: 0;
	outline: none;
	margin-top: 15px;
	padding: 0 0;
	width: 60px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #4285f4;
	background-image: url('../images/i1_e9f91fe3.png');
	background-size: 247px 204px;
	background-position: -70px -95px;
	float:right;
}

/***************************************************/
