<table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Faktor</th>
                        <th>Kendala yg terjadi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td rowspan="2">Manusia</td>
                        <td><div class="qitems form-group"><textarea class="textbox form-control" cols="" rows="" id="qitem-5-1"></textarea></div></td>
                      </tr>
                      <tr>
                        <td><div class="qitems form-group"><textarea class="textbox form-control" cols="" rows="" id="qitem-5-2"></textarea></div></td>
                      </tr>
                      <tr>
                        <td rowspan="2"><div class="qitems form-group"><textarea class="textbox form-control" cols="" rows="" id="qitem-5-3"></textarea></div></td>
                        <td><div class="qitems form-group"><textarea class="textbox form-control" cols="" rows="" id="qitem-5-4"></textarea></div></td>
                      </tr>
                      <tr>
                        <td><div class="qitems form-group"><textarea class="textbox form-control" cols="" rows="" id="qitem-5-5"></textarea></div></td>
                      </tr>
                    </tbody>
                  </table>