.db {
 display:block
}
.dib {
 display:inline-block
}
.dn {
 display:none
}
.di {
 display:inline
}
.abs,
.tipit,
.tipit:before {
 position:absolute
}
.rel {
 position:relative
}
.fix {
 position:fixed
}
.tipit {
 color:#fff;
 padding:2px;
  background:white;
 visibility:hidden;
 opacity:0;
 z-index:150;
 padding:10px;
 font:13px tahoma,sans-serif;
 -webkit-transform:scale(0);
 -moz-transform:scale(0);
 -ms-transform:scale(0);
 -o-transform:scale(0);
 transform:scale(0);
 -webkit-transition:.25s -ms-transform,.25s opacity,.25s visibility;
 -moz-transition:.25s -ms-transform,.25s opacity,.25s visibility;
 -ms-transition:.25s -ms-transform,.25s opacity,.25s visibility;
 -o-transition:.25s -ms-transform,.25s opacity,.25s visibility;
 transition:.25s -ms-transform,.25s opacity,.25s visibility;
 -webkit-transition:.25s transform,.25s opacity,.25s visibility;
 -moz-transition:.25s transform,.25s opacity,.25s visibility;
 -ms-transition:.25s transform,.25s opacity,.25s visibility;
 -o-transition:.25s transform,.25s opacity,.25s visibility;
 transition:.25s transform,.25s opacity,.25s visibility;
 transition-timing-function:cubic-bezier(.43,1.2,.8,1.15);
}
.tipit.left {
 -webkit-transform-origin:100% 50%;
 -moz-transform-origin:100% 50%;
 -ms-transform-origin:100% 50%;
 -o-transform-origin:100% 50%;
 transform-origin:100% 50%
}
.tipit.right {
 -webkit-transform-origin:0 50%;
 -moz-transform-origin:0 50%;
 -ms-transform-origin:0 50%;
 -o-transform-origin:0 50%;
 transform-origin:0 50%
}
.tipit.top {
 -webkit-transform-origin:50% 100%;
 -moz-transform-origin:50% 100%;
 -ms-transform-origin:50% 100%;
 -o-transform-origin:50% 100%;
 transform-origin:50% 100%
}
.tipit.bottom {
 -webkit-transform-origin:50% 0;
 -moz-transform-origin:50% 0;
 -ms-transform-origin:50% 0;
 -o-transform-origin:50% 0;
 transform-origin:50% 0
}
.tipit.fx {
 opacity:1;
 visibility:visible;
 -webkit-transform:none;
 -moz-transform:none;
 -ms-transform:none;
 -o-transform:none;
 transform:none
}
.tipit:before {

 
 border:6px solid transparent
}
.tipit.left:before {
 border-left-color:#333;
 border-left-color:rgba(0,0,0,0.7);
 top:50%;
 right:0;
 margin-right:-12px;
 margin-top:-6px
}
.tipit.right:before {
 border-right-color:#333;
 border-right-color:rgba(0,0,0,0.7);
 top:50%;
 left:0;
 margin-left:-12px;
 margin-top:-6px
}
.tipit.top:before {
 border-top-color:#333;
 border-top-color:rgba(0,0,0,0.7);
 bottom:0;
 left:50%;
 margin-left:-6px;
 margin-bottom:-12px
}
.tipit.bottom:before {
 border-bottom-color:#333;
 border-bottom-color:rgba(0,0,0,0.7);
 top:0;
 left:50%;
 margin-left:-6px;
 margin-top:-12px
}
.tipit > * {
 -webkit-pointer-events:none;
 -moz-pointer-events:none;
 -ms-pointer-events:none;
 -o-pointer-events:none;
 pointer-events:none
}
