/*  Fonts  */
@font-face {
  font-family: circularStd-book;
  src: url(../fonts/CircularStd-Book.otf);
}
@font-face {
  font-family: circularStd-bookitalic;
  src: url(../fonts/CircularStd-BookItalic.otf);
}
@font-face {
  font-family: circularStd-bold;
  src: url(../fonts/CircularStd-Bold.otf);
}
@font-face {
  font-family: circularStd-bolditalic;
  src: url(../fonts/CircularStd-BoldItalic.otf);
}
@font-face {
  font-family: circularStd-medium;
  src: url(../fonts/CircularStd-Medium.otf);
}
@font-face {
  font-family: circularStd-mediumitalic;
  src: url(../fonts/CircularStd-MediumItalic.otf);
}
@font-face {
  font-family: dk-memory;
  src: url(../fonts/DK\ Frozen\ Memory.otf);
}

/*  General CSS  */
body {
  font-family: circularStd-book;
  font-size: 16px;
}
img {
  width: 100%;
}
strong, b {
  font-family: circularStd-bold;
  font-weight: normal;
}
.popUp {
	background-color: white;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border-radius: 12px;
  max-width: 390px;
  width: 100%;
  padding: 20px;
  padding-left: 100px;
	text-align:center;
	z-index:900;
	-moz-box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	-webkit-box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	visibility: hidden;
	font-size: 1.2rem;
  font-family: circularStd-bold;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}
.popUp:before {
  content: '';
  height: 200px;
  width: 200px;
  background: url(../images/popup.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  top: 0;
}
.popUp .upperRow {
  padding-bottom: 1rem;
}
.popUp > div {
  
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .popUp {
    font-size: 14px;
    padding-left: 20px;
    height: auto;
  }
  .popUp:before {
    height: 150px;
    position: initial;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: auto;
    transform: translateX(0);
    margin-bottom: 0.5rem;
  }
}
.blackout {
	position: fixed;
	top: 0;
	left: 0;
	background-color: grey;
	opacity: 0.5;
    min-width: 1px;
    width: 100%;
    height: 100%;
	visibility: hidden;
}

/*  Reuseable CSS  */
.btn-yellow {
  color: black;
  border-radius: 50px;
  background: #FFCD00;
  padding: 6px 45px;
}
.btn-blue {
  color: white !important;
  border-radius: 50px;
  background: #1B55A9;
  padding: 6px 45px;
}
.form-control {
  font-size: 12px;
}
.btn {
  font-size: 12px;
}
.btn-yellow {
  background-color: #FFCD00;
}
.btn-save {
  padding: 0.375rem 1rem;
  border-radius: 50px;
  background: #2EB5C0;
  color: #fff;
  font-size: 14px;
}
.btn-save-pop {
  background: #D10000;
  color: white;
  padding: 0.375rem 1rem;
  border-radius: 50px;
}

/*  Custom CSS  */
/*  -Login-  */
#content-frame {
  border: none;
}
.login-wrapper {
  min-height: 100vh;
  background-image: url(../images/background_login.png);
  background-color: #D1FAFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.login-wrapper .container {
  height: 100%;
}
.login-wrapper .container > .row {
  height: 100%;
}
.login-wrapper images img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  padding: 3rem;
}
.login-wrapper .intro {
  color: #fff;
  text-align: right;
}
.login-wrapper .intro h2 {
  margin-bottom: 2rem;
  font-weight: bold;
}
.login-wrapper .intro h2 small {
  font-size: 1rem;
  margin-top: 0.5rem;
  display: block;
  text-align: center;
}
.login-wrapper .login-form {
  margin-top: 2rem;
}
.login-wrapper .login-form label {
  color: white;
}
.login-wrapper .login-form .form-control {
  padding: .5rem 1rem;
  border-radius: 50px;
  text-align: center;
}
@media(max-width: 991px) {
  .login-wrapper images img {
    height: 150px;
    padding: 15px;
  }
  .login-wrapper .intro h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .login-wrapper .intro h2 small {
    font-size: 0.7rem;
  }
  .login-wrapper .login-form {
    margin-top: 0.5rem;
  }
}

/*  -Navigation-  */
.left-nav {
  background: #2EB5C0;
  display: flex;
  align-items: center;
}
.left-nav > div {
  padding: 1rem;
  height: 90px;
}
.left-nav > div:not(:last-child) {
  display: flex;
  align-items: center;
}
.left-nav .logo {
  text-align: center;
}
.left-nav .logo img {
  height: 50px;
  border-right: 1px solid #fff;
  padding-right: 2rem;
  object-fit: contain;
  object-position: center;
}
.left-nav .url-nav {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 341px);
  flex: 0 0 calc(100% - 341px);
  max-width: calc(100% - 341px);
}
.left-nav .url-nav #url-text {
  background: white;
  border-radius: 50px;
  overflow: hidden;
  /* display: block; */
  padding: 0.5rem 1rem;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
}
.left-nav .progress-wrapper {
  background: #009FAC;
  width: 250px;
}
.left-nav .progress-wrapper .text {
  font-size: 0.7rem;
  color: white;
  text-align: center;
}
.left-nav .progress-boxes {
  position: relative;
  margin-bottom: 0;
  text-align: center;
}
.left-nav .progress-boxes:before {
  content: '';
  height: 48px;
  width: 20px;
  background: url(../images/trophy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}
.left-nav .progress-boxes li {
  display: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-left: 0.5rem;
  vertical-align: middle;
}
.left-nav .progress-boxes li.answered {
  display: inline-block;
}
@media (max-width: 767px) {
  .left-nav {
    display:block;
  }
  .left-nav .url-nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;

  }
  .left-nav .logo {
    justify-content: center;
    padding-bottom: 0;
    height: auto;
  }
  .left-nav .logo img {
    padding-right: 0;
    border-right: none;
  }
  .left-nav .progress-wrapper {
    width: 100%;
  }
}

.right-nav {
  background: url('../images/timer_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-nav .timer > span {
  padding: 0.5rem 1.5rem;
  color: #fff;
}
.right-nav .timer .clock-title {
  background: #D10000;
}
.right-nav .timer .timer-val {
  background: #363636;
}
/*  Tooltip  */
.tooltip-custom {
  position: relative;
}
.tooltip-custom:hover .tooltip-container,
.tooltip-custom:focus .tooltip-container,
.tooltip-custom:active .tooltip-container {
  display: block;
}
.tooltip-custom .tooltip-container {
  display: none;
  position: absolute;
  top: 2rem;
  width: 300px;
  left: -1rem;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 1rem;
  border-radius: 6px;
}
.tooltip-custom .tooltip-container:before {
  width: 0; 
  height: 0; 
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid white;
  content: '';
  position: absolute;
  top: -1rem;
  left: 1rem;
}
.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: .65rem;
  padding: .75rem;
  border-top: 2px solid #999999;
}

.rightRadio{float:right; width:90%;}

.leftRadio{float:left; width:10%;}

.qitems.form-group {
  float: left;
  width: 100%;
  margin-bottom: .65rem;
}
.select-wrapper {
  min-height: 100vh;
  background-image: url(../images/background_select.png);
  background-color: #D1FAFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.select-wrapper .container,
.select-wrapper .container-fluid {
  height: 100%;
  padding-right: 4rem;
  padding-left: 4rem;
}
.select-wrapper .container > .row,
.select-wrapper .container-fluid > .row {
  height: 100%;
}

.select-wrapper .text {
  color: #fff;
  font-size: 24px;
  margin-bottom: 3rem;
  text-align: center;
}

.select-wrapper .card .card-title {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-wrapper a,
.select-wrapper a:hover,
.select-wrapper a:focus {
  color: #000;
  text-decoration: none;
}

.select-wrapper a:hover .card {
  background-color: #ffcd00;
}

.select-wrapper .card {
  margin-bottom: 2rem;
}

.btn-logout {
  font-size: 18px;
  margin-top: 1rem;
  background: #D10000;
  color: white;
  padding: 6px 45px;
  border-radius: 50px;
}