/*  Fonts  */
@font-face {
  font-family: circularStd-book;
  src: url(../fonts/CircularStd-Book.otf);
}
@font-face {
  font-family: circularStd-bookitalic;
  src: url(../fonts/CircularStd-BookItalic.otf);
}
@font-face {
  font-family: circularStd-bold;
  src: url(../fonts/CircularStd-Bold.otf);
}
@font-face {
  font-family: circularStd-bolditalic;
  src: url(../fonts/CircularStd-BoldItalic.otf);
}
@font-face {
  font-family: circularStd-medium;
  src: url(../fonts/CircularStd-Medium.otf);
}
@font-face {
  font-family: circularStd-mediumitalic;
  src: url(../fonts/CircularStd-MediumItalic.otf);
}
@font-face {
  font-family: dk-memory;
  src: url(../fonts/DK\ Frozen\ Memory.otf);
}

/*  General CSS  */
body {
  font-family: circularStd-book;
  font-size: 16px;
}
img {
  width: 100%;
}
img.no-resize {
  max-width: 100%;
  width: auto;
}
strong, b {
  font-family: circularStd-bold;
  font-weight: normal;
}
.popUp {
	background-color: white;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border-radius: 12px;
  max-width: 390px;
  width: 100%;
  padding: 20px;
  padding-left: 100px;
	text-align:center;
	z-index:900;
	-moz-box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	-webkit-box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	box-shadow:0px 0px 17px 4px rgba(0, 0, 0, 0.27);
	visibility: hidden;
	font-size: 1.2rem;
  font-family: circularStd-bold;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}
.popUp:before {
  content: '';
  height: 200px;
  width: 200px;
  background: url(../images/popup.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  top: 0;
}
.popUp .upperRow {
  padding-bottom: 1rem;
}
.popUp > div {
  
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .popUp {
    font-size: 14px;
    padding-left: 20px;
    height: auto;
  }
  .popUp:before {
    height: 150px;
    position: initial;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: auto;
    transform: translateX(0);
    margin-bottom: 0.5rem;
  }
}
.blackout {
	position: fixed;
	top: 0;
	left: 0;
	background-color: grey;
	opacity: 0.5;
    min-width: 1px;
    width: 100%;
    height: 100%;
	visibility: hidden;
}

/*  Reuseable CSS  */
.btn-yellow {
  color: black;
  border-radius: 0;
  background: #FFCD00;
  padding: 6px 20px;
}
.btn-blue {
  color: white !important;
  border-radius: 50px;
  background: #1B55A9;
  padding: 6px 45px;
}
.form-control {
  font-size: 12px;
}
.btn {
  font-size: 12px;
}
.btn-yellow {
  background-color: #FFCD00;
}
.btn-save {
  padding: 0.375rem 1rem;
  border-radius: 50px;
  background: #d10000;
  color: #fff;
  font-size: 14px;
}
.btn-save-pop {
  background: #D10000;
  color: white;
  padding: 0.375rem 1rem;
  border-radius: 50px;
}

/*  Custom CSS  */
/*  -Login-  */
#content-frame {
  border: none;
}

#content-frame.soal {
  border: 1px solid #999;
}
.login-wrapper {
  min-height: 100vh;
  background-image: url(../images/background_login.png);
  background-color: #D1FAFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.login-wrapper .container {
  height: 100%;
}
.login-wrapper .container > .row {
  height: 100%;
}
.login-wrapper .images img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  padding: 3rem;
}
.login-wrapper .intro {
  color: #fff;
  text-align: right;
}
.login-wrapper .intro h2 {
  margin-bottom: 2rem;
  font-weight: bold;
}
.login-wrapper .intro h2 small {
  font-size: 1rem;
  margin-top: 0.5rem;
  display: block;
  text-align: center;
}
.login-wrapper .login-form {
  margin-top: 2rem;
}
.login-wrapper .login-form label {
  color: white;
}
.login-wrapper .login-form .form-control {
  padding: .5rem 1rem;
  border-radius: 50px;
  text-align: center;
}
@media(max-width: 991px) {
  .login-wrapper .images img {
    height: 150px;
    padding: 15px;
  }
  .login-wrapper .intro h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .login-wrapper .intro h2 small {
    font-size: 0.7rem;
  }
  .login-wrapper .login-form {
    margin-top: 0.5rem;
  }
}

/*  -Navigation-  */
.left-nav {
  background: #2EB5C0;
  display: flex;
  align-items: center;
}
.left-nav > div {
  padding: 1rem;
  height: 90px;
}
.left-nav > div:not(:last-child) {
  display: flex;
  align-items: center;
}
.left-nav .logo {
  text-align: center;
}
.left-nav .logo img {
  height: 50px;
  border-right: 1px solid #fff;
  padding-right: 2rem;
  object-fit: contain;
  object-position: center;
}
.left-nav .url-nav {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 341px);
  flex: 0 0 calc(100% - 341px);
  max-width: calc(100% - 341px);
}
.left-nav .url-nav #url-text {
  background: white;
  border-radius: 50px;
  overflow: hidden;
  /* display: block; */
  padding: 0.5rem 1rem;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
}
.left-nav .progress-wrapper {
  background: #009FAC;
  width: 250px;
}
.left-nav .progress-wrapper .text {
  font-size: 0.7rem;
  color: white;
  text-align: center;
}
.left-nav .progress-boxes {
  position: relative;
  margin-bottom: 0;
  text-align: center;
}
.left-nav .progress-boxes:before {
  content: '';
  height: 48px;
  width: 20px;
  background: url(../images/trophy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
}
.left-nav .progress-boxes li {
  display: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-left: 0.5rem;
  vertical-align: middle;
}
.left-nav .progress-boxes li.answered {
  display: inline-block;
}
@media (max-width: 767px) {
  .left-nav {
    display:block;
  }
  .left-nav .url-nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;

  }
  .left-nav .logo {
    justify-content: center;
    padding-bottom: 0;
    height: auto;
  }
  .left-nav .logo img {
    padding-right: 0;
    border-right: none;
  }
  .left-nav .progress-wrapper {
    width: 100%;
  }
}

.right-nav {
  background: url('../images/timer_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}
.right-nav .timer {
  text-align: right;
  font-size: 1.2rem;
  width: 90%;
  padding-left: 10%;
}
/*.right-nav .timer > span {*/
/*  padding: 0.5rem 1.5rem;*/
/*  color: #fff;*/
/*}*/
.right-nav .timer .clock-title {
  background: #D10000;
}
.right-nav .timer .timer-val {
  background: #363636;
}

/*  -Main Content-  */
.iframe-wrapper iframe {
  width: 100%;
  height: calc(100vh - 126px);
  border: none;
}
#question-frame {
  height: calc(100vh - 90px);
}
/*  -Question-  */
.disableQuestion {
  opacity: 0.5;
}
.hiddenQuestion {
  display: none !important;
  visibility: hidden;
}
#rightPanel {
  background-image: url(../images/chat_background.png);
  background-color: #EAECEF;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
  padding-bottom: 3.5rem;
}

#rightPanel .teacher,
#rightPanel .question,
#rightPanel .student {
  display: flex;
  margin: 1rem 0;
  padding: 0 1rem;
  padding-bottom: 0;
}
#rightPanel .textbox-wrapper {
  background: #fff;
  padding: 0.75rem;
  border-radius: 6px;
  position: relative;
  font-size: 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 70px);
  flex: 0 0 calc(100% - 70px);
  max-width: calc(100% - 70px);
}
#rightPanel .question .textbox-wrapper {
  padding: 0.75rem;
  border-radius: 6px;
  position: relative;
  font-size: 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #b5fbff;
}
#rightPanel .student .textbox-wrapper {
  background-color: #b5fbff;
}
#rightPanel .icon img {
  height: 50px;
  width: 50px;
}
#rightPanel .textbox-wrapper .name {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  color: #D10000;
  text-transform: uppercase;
  font-family: circularStd-bold;
  font-size: 14px;
}
#rightPanel .teacher .textbox-wrapper {
  margin-left: 1rem;
}
#rightPanel .question .textbox-wrapper {
  margin-left: 0;
}
#rightPanel .teacher .textbox-wrapper:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1rem solid #fff;
  border-left: 1rem solid transparent;
  top: 0;
  left: -0.75rem;
}
#rightPanel .question .qnumber {
  border-bottom: 1px solid #999999;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  color: #D10000;
  text-transform: uppercase;
  font-family: circularStd-bold;
  font-size: 1.2rem;
}
#rightPanel .student .textbox-wrapper {
  margin-right: 1rem;
}
#rightPanel .student .textbox-wrapper:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1rem solid #b5fbff;
  border-right: 1rem solid transparent;
  top: 0;
  right: -0.75rem;
}
#rightPanel .student .textbox-wrapper .name {
  color: #484848;
  margin-bottom: 1rem;
  border-color: #999999;
}

/*  -iFrame Body-  */
.top-menu {
  margin: 1rem;
}
.top-menu .nav-item {
  margin: 0 0.25rem;
}
.top-menu .nav-link {
  background-color: #FFCD00;
  color: #1850A0;
  font-family: circularStd-bold;
  font-size: .9rem;
  /*opacity: 0.5;*/
}
.top-menu .nav-link.active {
  opacity: 1;
}

/*  Result  */
.loginMainLogo {
  background: #2EB5C0;
  padding: 1rem;
  text-align: center;
}
.loginMainLogo img {
  width: 150px;
}
#answerTable .table th {
  font-weight: normal;
  font-family: circularStd-bold;
  background: #D10000;
  color: white;
}
#answerTable .table th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#answerTable .table th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.actionsContainer {
  text-align: center;
  margin: 2rem 0;
}

/*  Tooltip  */
.tooltip-custom {
  position: relative;
}
.tooltip-custom:hover .tooltip-container,
.tooltip-custom:focus .tooltip-container,
.tooltip-custom:active .tooltip-container {
  display: block;
}
.tooltips {
  text-decoration: underline;
  cursor: pointer;
  color: #007bff;
}
.tipit {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 1rem;
  border-radius: 6px;
  font-size: 1rem;
  color: #000;
  text-align: center;
  width: 300px;
}
.tipit:before {
  content: '';
}
.tipit.top:before {
  border-top-color: #fff;
}
.tipit.bottom:before {
  border-bottom-color: #fff;
}

.tooltip-custom .tooltip-container {
  display: none;
  position: absolute;
  top: 2rem;
  width: 300px;
  left: -1rem;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 1rem;
  border-radius: 6px;
  font-size: 1rem;
  color: #000;
  text-align: center;
}
.tooltip-custom .tooltip-container.top {
  display: block;
  position: absolute;
  bottom: 100%;
  width: 300px;
  left: -1rem;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 1rem;
  border-radius: 6px;
  font-size: 1rem;
  color: #000;
  text-align: center;
}
.tooltip-custom .tooltip-container:before {
  width: 0; 
  height: 0; 
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid white;
  content: '';
  position: absolute;
  top: -1rem;
  left: 1rem;
}
.tooltip-custom .tooltip-container.top:before {
  content: '';
  display: none;
}
.tooltip-custom .tooltip-container.top:after {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid white;
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 1rem;
}
.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: .65rem;
  padding: .75rem;
  border-top: 2px solid #999999;
  background-color: #fff;
  text-align: center;
}

.rightRadio{float:right; width:90%;}

.leftRadio{float:left; width:10%;}

.qitems.form-group {
  float: left;
  width: 100%;
  margin-bottom: .65rem;
}

.fakeLink {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.timeline{
  --uiTimelineMainColor: var(--timelineMainColor, #222);
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

  position: relative;
}

.timeline:before{
  content: "";
  width: 4px;
  height: 90%;
  background-color: var(--uiTimelineSecondaryColor);

  position: absolute;
  top: 0;
}

.timeline__group{
  position: relative;
}

.timeline__group:not(:first-of-type){
  margin-top: 4rem;
}

.timeline__year{
  padding: .5rem 1.5rem;
  color: var(--uiTimelineSecondaryColor);
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  left: 0;
  top: 0;
}

.timeline__box{
  position: relative;
}

.timeline__box:not(:last-of-type){
  margin-bottom: 20px;
}

.timeline__box:before{
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  left: 0;
  z-index: -1;
}

.timeline__date {
  width: 20%;
  position: absolute;
  left: 0;

  box-sizing: border-box;
  padding: .5rem 1.5rem;
  text-align: center;
  border-radius: 20px;

  background-color: var(--uiTimelineMainColor);
  color: #000;

  border: 4px solid #fff;
}

.timeline__date.color1 {
  background-color: #FAD262;
}

.timeline__date.color2 {
  background-color: #FA9762;
}

.timeline__date.color3 {
  background-color: #FD66DA;
}

.timeline__date.color4 {
  background-color: #62A8FA;
}

.timeline__date.color5 {
  background-color: #62D7FA;
}

.timeline__date.color6 {
  background-color: #FA626E;
}

.timeline__date.color7 {
  background-color: #81E379;
}

.timeline__day{
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.timeline__post{
  padding: 0 2rem;
  border-radius: 2px;
}

.timeline__content a {
  /*color: #212529;*/
  /*font-weight: bold;*/
  text-decoration: underline;
}

.timeline__content a:hover {
  color: #212529;
}

@media screen and (min-width: 641px){

  .timeline:before{
    left: 10%;
  }

  /*.timeline__group{*/
  /*  padding-top: 55px;*/
  /*}*/

  .timeline__box{
    padding-left: 22%;
  }

  .timeline__box:before{
    top: 50%;
    transform: translateY(-50%);
  }

  .timeline__date{
    top: 0;
  }
}

@media screen and (max-width: 640px){

  .timeline:before{
    left: 0;
  }

  .timeline__group{
    padding-top: 40px;
  }

  .timeline__box{
    padding-left: 20px;
    padding-top: 70px;
  }

  .timeline__box:before{
    top: 90px;
  }

  .timeline__date{
    top: 0;
  }
}

.timeline{
  --timelineMainColor: #4557bb;
}

.title {
  font-size: 3rem;
  font-family: dk-memory;
}

/* Situs Gunung Padang */
.situsgunungpadang {
  font-size: 20px;
}

.situsgunungpadang .section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.situsgunungpadang .section01 {
  background-color: #AAEBFA;
}

.situsgunungpadang .section01 .title {
  padding-top: 2rem;
  padding-bottom: 2.4rem;
}

.situsgunungpadang .section .text {
  /*padding-right: 9rem;*/
  /*padding-left: 9rem;*/
  /*padding-bottom: 3rem;*/
}

.situsgunungpadang .section .text:last-child {
  padding-bottom: 0;
}

.situsgunungpadang .section .image {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}

.situsgunungpadang .section .image:last-child {
  padding-bottom: 0;
}

.situsgunungpadang .section02 {
  background-color: #DBF8FF;
  text-align: center;
}

/* FUNGSI */
.fungsi {
  font-size: 20px;
}

.fungsi .content {
  background-color: #4E348B;
  color: #fff;
}

.fungsi .title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.fungsi .section {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #4E348B;
  color: #fff;
}

.fungsi .section .text {
  padding-right: 9rem;
  padding-left: 9rem;
  padding-bottom: 3rem;
  text-align: center;
}

.fungsi .section .text:last-child {
  padding-bottom: 0;
}

.fungsi .section .image {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}

.fungsi .box {
  padding-right: 7rem;
  padding-left: 7rem;
  text-align: center;
  padding-bottom: 3rem;
}

.fungsi .box .content {
  padding: 3rem 3.5rem;
  background-color: #FAD262;
  color: #4E348B;
  border: 10px solid #fff;
  border-radius: 10px;
}

/* KONSTRUKSI */
.konstruksi {
  font-size: 22px;
}

.konstruksi .content {
  background: #fdfdfd url("../images/background-screen-8.jpg") bottom center no-repeat;
  background-size: cover;
}

.konstruksi .section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.konstruksi .section .text {
  /*padding-right: 9rem;*/
  /*padding-left: 9rem;*/
  /*padding-bottom: 3rem;*/
  /*text-align: center;*/
}

.konstruksi .section .text:last-child {
  padding-bottom: 0;
}

.konstruksi .section .image {
  /*padding-right: 3rem;*/
  /*padding-left: 3rem;*/
  /*padding-bottom: 3rem;*/
}

/* SEJARAH PENELITIAN */
.penelitian {
  font-size: 20px;
}

.penelitian .title {
  padding-bottom: 2rem;
  text-align: center;
}

.penelitian .content {
  background: #E6FFFB url("../images/background-screen-10.png") bottom center no-repeat;
  background-size: cover;
}

.penelitian .section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.penelitian .section .text {
  padding-right: 9rem;
  padding-left: 9rem;
  padding-bottom: 3rem;
  text-align: center;
}

.penelitian .section .text:last-child {
  padding-bottom: 0;
}

.penelitian .section .image {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}

/* KRITIS */
.kritis {
  font-size: 20px;
}

.kritis .title {
  padding-bottom: 2rem;
  font-size: 2.3rem;
}

.kritis .content {
  background: #B1B100;
}

.kritis .section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.kritis .section .text {
  padding-right: 9rem;
  padding-left: 9rem;
  padding-bottom: 3rem;
}

.kritis .section.section01 {
  background-color: #B1B100;
  color: #fff;
}

.kritis .section.section02 {
  background-color: #E5D55F;
}

/* PERDEBATAN */
.perdebatan {
  font-size: 22px;
}

.perdebatan .title {
  padding-bottom: 2rem;
}

.perdebatan .content {
  background: #DEF4FF;
}

.perdebatan .section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.perdebatan .section .text {
  /*padding-right: 9rem;*/
  /*padding-left: 9rem;*/
  /*padding-bottom: 3rem;*/
}

.perdebatan .section .text:last-child {
  padding-bottom: 0;
}

.perdebatan .section .image {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}

.perdebatan .section .image:last-child {
  padding-bottom: 0;
}

.perdebatan .section.section01 {
  background-color: #91D9FF;
}

.perdebatan .section.section02 {
  background-color: #60C8FF;
}
.copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: .65rem;
  padding: .75rem;
  border-top: 2px solid #999999;
  background-color: #fff;
  text-align: center;
}

.rightRadio{float:right; width:90%;}

.leftRadio{float:left; width:10%;}

.qitems.form-group {
  float: left;
  width: 100%;
  margin-bottom: .5rem;
}

.breadcrumb {
  margin-bottom: 0;
  padding: .5rem 1rem;
  font-size: .85rem;
  border-right: 1px solid #999;
}
.breadcrumb-item {
  cursor: pointer;
}
.breadcrumb-item:hover,
.breadcrumb-item.active {
  color: #d10000;
}
@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

.fakeLink {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  color: #D10000;
}
strong.fakeLink {
  cursor: text;
  text-decoration: none;
}